# Node modules (dependencies)
node_modules

# Build files
dist

# Environment variables (API keys, secrets)
.env
.env.local
.env.development
.env.production

# System files
.DS_Store
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache files
.cache
